/**
 * Phoenix Duskmoon UI v9 Component Styles
 *
 * CSS for HEEX components that don't use custom elements.
 * Custom elements (el-dm-*) handle their own styling via Shadow DOM.
 */

/* HEEX component styles */
@import "./components/divider.css";
@import "./components/loading.css";
@import "./components/pagination.css";
@import "./components/navbar.css";
@import "./components/menu.css";
@import "./components/actionbar.css";
@import "./components/form.css";
@import "./components/card.css";

/* Fun/animated components (kept as HEEX with CSS animations) */
@import "./components/spotlight-search.css";
@import "./components/signature.css";
@import "./components/eclipse.css";
@import "./components/plasma-ball.css";
@import "./components/atom.css";
@import "./components/snow.css";
@import "./components/footer-bubbles.css";
@import "./components/button.css";
