@source "../js/**/*.js";
@source '../../lib/**/*.exs';
@source '../../lib/**/*.ex';

@import "tailwindcss";
@plugin "duskmoonui";
@plugin "@tailwindcss/typography";

@import "./theme.css";
@import "./components.css";
@import "./neumorphic.css";
